/* header style  */
.logo {
  width: 50%;
}
.nav-link {
  color: #073b4c !important;
  font-size: 18px;
  position: relative;
  transition: 0.3s;
}
.nav-link:hover {
  color: #e29578 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  width: 60%;
  height: 2px;
  margin: auto;
  background: #e29578;
  visibility: hidden;
  transition: 0.3s;
}

.nav-link:hover.nav-link::after {
  visibility: visible;
  bottom: -10px;
}

.nav-selected {
  font-weight: 700;
  color: #e29578 !important;
}

.user-img {
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #073b4c;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .nav-brand {
    display: inline-block;
    width: 15%;
  }
  .nav-link {
    font-size: 16px;
  }
}
@media only screen and (max-width: 992px) {
  .nav-link:hover.nav-link::after {
    visibility: hidden;
  }
}
@media only screen and (max-width: 400px) {
  .nav-bar {
    padding: 5px 0 !important;
  }
  .nav-brand {
    display: inline-block;
    width: 50%;
  }
}
