.add-service-form {
  background: rgba(237, 246, 249, 0.7);
  border-radius: 20px;
  padding: 40px;
  width: 50%;
  margin: auto;
}
.add-service-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-service-form form input,
textarea {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #006d77;
  background: transparent;
  color: #006d77;
}

@media only screen and (max-width: 1000px) {
  .add-service-form {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) {
  .add-service-form {
    width: 100%;
  }
}
