.order-details-box {
  border: 1px solid #edf6f9;
  border-radius: 10px;
  padding: 20px 10px;
}

.order-img {
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .serive-title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .order-details-box {
    justify-content: center;
  }
}
@media only screen and (max-width: 520px) {
  .order-details-box {
    justify-content: center;
    flex-direction: column;
    gap: 10px !important;
    text-align: center;
  }

  .serive-title {
    font-size: 20px;
    margin-top: 10px !important;
  }
}
