.service-img img {
  width: 100%;
  height: 250px;
  transition: 0.6s;
}
.service-img img:hover {
  transform: scale(1.1) skew(5deg);
  cursor: pointer;
}

.sub-title {
  color: #83c5be;
  font-size: 14px;
}
.title {
  color: #073b4c;
  font-size: 24px;
}

.description {
  color: #006d77;
}
