/* reset style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  padding: 0 !important;
}
li {
  list-style: none;
  padding: 0;
}

/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@600;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: url(./images/page-bg.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

/* common style  */
.deliveryhut-btn {
  background: #006d77 !important;
  color: #edf6f9 !important;
  border: 1px solid #006d77 !important;
  transition: 0.4s;
}

.deliveryhut-btn:hover {
  background: #073b4c !important;
  border-color: #073b4c !important;
}

.deliveryhut-outline-btn {
  color: #e29578 !important;
  border: 1px solid #e29578 !important;
  transition: 0.4s;
}
.deliveryhut-outline-btn:hover {
  background: #e29578;
  color: #fff !important;
}

.colored-text {
  color: #006d77;
}
