.others-banner {
  background: url(../../../images/other-banner-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 120px 0;
}
@media only screen and (max-width: 400px) {
  .others-banner {
    padding: 40px 0;
  }
}
